Repository settlemint/solidity-smart-protocol, pull requests merged in 2025-05, with the labels that each got.

#27 fix: ERC-165 make SMART compatible with other ERC-165 extensions
  contracts/extensions/core/SMART.sol
  contracts/extensions/core/SMARTUpgradeable.sol
Labels: fix

#34 feat: more gas optimizations
  contracts/SMARTIdentityRegistry.sol
  contracts/extensions/common/_SMARTExtension.sol
  contracts/extensions/custodian/internal/_SMARTCustodianLogic.sol
Labels: feat

#35 feat: small gas tweaks
  contracts/SMARTCompliance.sol
  contracts/SMARTIdentityFactory.sol
  contracts/SMARTIdentityRegistry.sol
  contracts/SMARTTokenUpgradeable.sol
  contracts/extensions/collateral/internal/_SMARTCollateralLogic.sol
  contracts/extensions/core/internal/_SMARTLogic.sol
Labels: feat

#37 feat: smart system
  contracts/SMARTIdentityFactory.sol
  contracts/system/ISMARTSystem.sol
  contracts/system/SMARTSystem.sol
  contracts/system/SMARTSystemErrors.sol
  contracts/system/SMARTSystemFactory.sol
  contracts/system/compliance/SMARTComplianceImplementation.sol
  contracts/system/compliance/SMARTComplianceProxy.sol
  contracts/system/compliance/modules/AbstractComplianceModule.sol
  contracts/system/compliance/modules/AbstractCountryComplianceModule.sol
  contracts/system/compliance/modules/CountryAllowListComplianceModule.sol
  contracts/system/compliance/modules/CountryBlockListComplianceModule.sol
  contracts/system/compliance/modules/README.md
  contracts/system/identity-factory/ISMARTIdentityFactory.sol
  contracts/system/identity-factory/SMARTIdentityErrors.sol
  contracts/system/identity-factory/SMARTIdentityFactoryImplementation.sol
  contracts/system/identity-factory/SMARTIdentityFactoryProxy.sol
  contracts/system/identity-factory/identities/SMARTIdentityImplementation.sol
  contracts/system/identity-factory/identities/SMARTIdentityProxy.sol
  contracts/system/identity-factory/identities/SMARTTokenIdentityImplementation.sol
  contracts/system/identity-factory/identities/SMARTTokenIdentityProxy.sol
  contracts/system/identity-registry-storage/SMARTIdentityRegistryStorageImplementation.sol
  contracts/system/identity-registry-storage/SMARTIdentityRegistryStorageProxy.sol
  contracts/system/identity-registry/SMARTIdentityRegistryImplementation.sol
  contracts/system/identity-registry/SMARTIdentityRegistryProxy.sol
  contracts/system/token-registry/SMARTTokenRegistry.sol
  contracts/system/trusted-issuers-registry/SMARTTrustedIssuersRegistryImplementation.sol
  contracts/system/trusted-issuers-registry/SMARTTrustedIssuersRegistryProxy.sol
  contracts/vendor/ERC1067ProxyImport.sol
  contracts/vendor/SMARTForwarder.sol
  ignition/modules/compliance.ts
  ignition/modules/configuration.ts
  ignition/modules/identityRegistry.ts
  ignition/modules/identityRegistryStorage.ts
  ignition/modules/main.ts
  ignition/modules/trustedIssuersRegistry.ts
  test/SMARTTokenRegistry.t.sol
  test/assets/AbstractSMARTAssetTest.sol
  test/assets/SMARTBond.t.sol
  test/assets/SMARTDeposit.t.sol
  test/assets/SMARTEquity.t.sol
  test/tests/AbstractSMARTTest.sol
  test/tests/SMARTCountryAllowListTest.sol
  test/tests/SMARTCountryBlockListTest.sol
  test/utils/ClaimUtils.sol
  test/utils/IdentityUtils.sol
  test/utils/InfrastructureUtils.sol
  test/utils/TokenUtils.sol
  test/utils/mocks/MockedComplianceModule.sol
Labels: feat

#43 fix: Dangerous strict equalities
  contracts/extensions/yield/schedules/fixed/SMARTFixedYieldSchedule.sol
Labels: fix

#44 fix: Void constructor
  contracts/extensions/access-managed/manager/SMARTTokenAccessManager.sol
Labels: fix

#46 feat: use cancun
  foundry.toml
  hardhat.config.ts
Labels: feat

#47 fix: docs deployment folder typo
  docs/subgraph.md
Labels: codex

#48 fix: underlying amount calculation
  contracts/assets/SMARTBond.sol
Labels: codex

#49 fix: update solidity pragma versions
  contracts/extensions/capped/ISMARTCapped.sol
  contracts/extensions/capped/SMARTCapped.sol
  contracts/extensions/capped/SMARTCappedErrors.sol
  contracts/extensions/capped/SMARTCappedUpgradeable.sol
  contracts/extensions/capped/internal/_SMARTCappedLogic.sol
  contracts/system/identity-factory/identities/SMARTIdentityImplementation.sol
  contracts/system/identity-factory/identities/SMARTIdentityProxy.sol
  contracts/system/identity-factory/identities/SMARTTokenIdentityImplementation.sol
  contracts/system/identity-factory/identities/SMARTTokenIdentityProxy.sol
  test/Constants.sol
  test/SMARTStandardTest.t.sol
  test/SMARTUpgradeableTest.t.sol
  test/tests/AbstractSMARTTest.sol
  test/tests/SMARTBurnableTest.sol
  test/tests/SMARTCollateralTest.sol
  test/tests/SMARTCoreTest.sol
  test/tests/SMARTCountryAllowListTest.sol
  test/tests/SMARTCountryBlockListTest.sol
  test/tests/SMARTCustodianTest.sol
  test/tests/SMARTPausableTest.sol
  test/utils/ClaimUtils.sol
  test/utils/IdentityUtils.sol
  test/utils/InfrastructureUtils.sol
  test/utils/TokenUtils.sol
Labels: codex

#50 fix: remove unused import statements
  contracts/SMARTToken.sol
  contracts/SMARTTokenUpgradeable.sol
  contracts/extensions/burnable/SMARTBurnable.sol
  contracts/extensions/burnable/SMARTBurnableUpgradeable.sol
  contracts/extensions/capped/SMARTCapped.sol
  contracts/extensions/capped/SMARTCappedUpgradeable.sol
  contracts/extensions/collateral/SMARTCollateral.sol
  contracts/extensions/collateral/SMARTCollateralUpgradeable.sol
  contracts/extensions/common/SMARTExtension.sol
  contracts/extensions/common/SMARTExtensionUpgradeable.sol
  contracts/extensions/core/SMART.sol
  contracts/extensions/core/SMARTUpgradeable.sol
  contracts/extensions/custodian/SMARTCustodian.sol
  contracts/extensions/custodian/SMARTCustodianUpgradeable.sol
  contracts/extensions/historical-balances/SMARTHistoricalBalances.sol
  contracts/extensions/historical-balances/SMARTHistoricalBalancesUpgradeable.sol
  contracts/extensions/historical-balances/internal/_SMARTHistoricalBalancesLogic.sol
  contracts/extensions/pausable/SMARTPausable.sol
  contracts/extensions/pausable/SMARTPausableUpgradeable.sol
  contracts/extensions/redeemable/SMARTRedeemable.sol
  contracts/extensions/redeemable/SMARTRedeemableUpgradeable.sol
  contracts/extensions/redeemable/internal/_SMARTRedeemableLogic.sol
  contracts/extensions/yield/internal/_SMARTYieldLogic.sol
Labels: codex

#52 fix: Improve return style consistency
  contracts/system/SMARTSystemFactory.sol
  contracts/system/identity-factory/SMARTIdentityFactoryImplementation.sol
  contracts/system/identity-registry-storage/SMARTIdentityRegistryStorageImplementation.sol
  contracts/system/identity-registry/SMARTIdentityRegistryImplementation.sol
  contracts/system/trusted-issuers-registry/SMARTTrustedIssuersRegistryImplementation.sol
Labels: codex

#54 fix: Remove redundant casts
  contracts/extensions/yield/schedules/fixed/SMARTFixedYieldSchedule.sol
  contracts/system/identity-registry/SMARTIdentityRegistryImplementation.sol
Labels: codex

#55 fix: Remove unused errors
  contracts/assets/SMARTEquity.sol
  contracts/assets/SMARTFund.sol
  contracts/extensions/custodian/SMARTCustodianErrors.sol
  contracts/extensions/yield/schedules/fixed/SMARTFixedYieldSchedule.sol
  contracts/extensions/yield/schedules/fixed/SMARTFixedYieldScheduleFactory.sol
  contracts/system/identity-factory/SMARTIdentityFactoryImplementation.sol
  contracts/system/identity-registry-storage/SMARTIdentityRegistryStorageImplementation.sol
Labels: codex

#57 fix: Remove unused smartData hooks
  contracts/extensions/common/SMARTContext.sol
  contracts/extensions/common/SMARTExtension.sol
  contracts/extensions/common/SMARTExtensionUpgradeable.sol
Labels: codex

#58 fix: Index key event parameters
  contracts/assets/SMARTBond.sol
  contracts/interface/ERC-3643/IERC3643.sol
  contracts/interface/ERC-3643/IERC3643Compliance.sol
  contracts/system/SMARTSystem.sol
  contracts/system/compliance/modules/CountryAllowListComplianceModule.sol
  contracts/system/compliance/modules/CountryBlockListComplianceModule.sol
Labels: codex

#53 fix: Add named mapping parameters
  contracts/extensions/common/_SMARTExtension.sol
  contracts/extensions/core/internal/_SMARTLogic.sol
  contracts/extensions/custodian/internal/_SMARTCustodianLogic.sol
  contracts/extensions/historical-balances/internal/_SMARTHistoricalBalancesLogic.sol
  contracts/system/compliance/modules/CountryAllowListComplianceModule.sol
  contracts/system/compliance/modules/CountryBlockListComplianceModule.sol
  contracts/system/identity-factory/SMARTIdentityFactoryImplementation.sol
  contracts/system/identity-registry-storage/SMARTIdentityRegistryStorageImplementation.sol
  contracts/system/trusted-issuers-registry/SMARTTrustedIssuersRegistryImplementation.sol
Labels: codex

#60 feat: add batch role management
  contracts/extensions/access-managed/manager/ISMARTTokenAccessManager.sol
  contracts/extensions/access-managed/manager/SMARTTokenAccessManager.sol
Labels: codex

#61 feat: more natspecs
  contracts/SMARTToken.sol
  contracts/SMARTTokenUpgradeable.sol
  contracts/system/ISMARTSystem.sol
  contracts/system/SMARTSystem.sol
  contracts/system/SMARTSystemErrors.sol
  contracts/system/SMARTSystemFactory.sol
  contracts/system/compliance/SMARTComplianceImplementation.sol
  contracts/system/compliance/SMARTComplianceProxy.sol
  contracts/system/compliance/modules/AbstractComplianceModule.sol
  contracts/system/compliance/modules/AbstractCountryComplianceModule.sol
  contracts/system/compliance/modules/CountryAllowListComplianceModule.sol
  contracts/system/compliance/modules/CountryBlockListComplianceModule.sol
  contracts/system/identity-factory/ISMARTIdentityFactory.sol
  contracts/system/identity-factory/SMARTIdentityErrors.sol
  contracts/system/identity-factory/SMARTIdentityFactoryImplementation.sol
  contracts/system/identity-factory/SMARTIdentityFactoryProxy.sol
  contracts/system/identity-factory/identities/SMARTIdentityImplementation.sol
  contracts/system/identity-factory/identities/SMARTIdentityProxy.sol
  contracts/system/identity-factory/identities/SMARTTokenIdentityImplementation.sol
  contracts/system/identity-factory/identities/SMARTTokenIdentityProxy.sol
  contracts/system/identity-registry-storage/SMARTIdentityRegistryStorageImplementation.sol
  contracts/system/identity-registry-storage/SMARTIdentityRegistryStorageProxy.sol
  contracts/system/identity-registry/SMARTIdentityRegistryImplementation.sol
  contracts/system/identity-registry/SMARTIdentityRegistryProxy.sol
  contracts/system/trusted-issuers-registry/SMARTTrustedIssuersRegistryImplementation.sol
  contracts/system/trusted-issuers-registry/SMARTTrustedIssuersRegistryProxy.sol
  contracts/vendor/SMARTForwarder.sol
Labels: feat

#64 fix: update ignition code for the new code
  ignition/modules/predeployed/identity.ts
  ignition/modules/predeployed/system-factory.ts
  ignition/modules/predeployed/token-access-manager.ts
  package-lock.json
Labels: fix

#66 fix: high severity slither issues
  contracts/extensions/yield/schedules/fixed/SMARTFixedYieldSchedule.sol
  contracts/system/identity-factory/SMARTIdentityFactoryImplementation.sol
  contracts/system/identity-factory/identities/extensions/ERC734.sol
  contracts/system/trusted-issuers-registry/SMARTTrustedIssuersRegistryImplementation.sol
Labels: fix

#65 fix: cleanup roles
  contracts/system/SMARTSystem.sol
  contracts/system/SMARTSystemRoles.sol
  contracts/system/identity-factory/SMARTIdentityFactoryImplementation.sol
  contracts/system/identity-registry-storage/SMARTIdentityRegistryStorageImplementation.sol
  contracts/system/identity-registry/SMARTIdentityRegistryImplementation.sol
  contracts/system/identity-registry/SMARTIdentityRegistryProxy.sol
  contracts/system/token-factory/AbstractSMARTTokenFactoryImplementation.sol
  test/assets/SMARTBond.t.sol
  test/assets/SMARTDeposit.t.sol
  test/assets/SMARTEquity.t.sol
  test/assets/SMARTFund.t.sol
  test/assets/SMARTStableCoin.t.sol
  test/tests/AbstractSMARTTest.sol
Labels: fix

#68 feat: add revocation capabilities
  contracts/system/identity-factory/identities/SMARTIdentityImplementation.sol
  contracts/system/identity-factory/identities/extensions/ERC735.sol
  contracts/system/identity-factory/identities/extensions/OnChainIdentityWithRevocation.sol
Labels: feat

#73 chore: Add Claude Code GitHub Workflow
  .github/workflows/claude.yml
Labels: chore

#72 fix: Prevent reentrancy attacks in bond redemption
  .gitignore
  .vscode/extensions.json
  contracts/assets/bond/SMARTBondImplementation.sol
  test/assets/SMARTBondReentrancyTest.t.sol
Labels: fix

#74 feat: Significantly improve test coverage across core contracts
  contracts/system/SMARTSystem.sol
  contracts/system/SMARTSystemErrors.sol
  package.json
  test/assets/SMARTFixedYieldSchedule.t.sol
  test/system/ERC734.t.sol
  test/system/SMARTSystem.t.sol
  test/system/SMARTTokenAccessManager.t.sol
Labels: feat

#75 feat: Comprehensive test coverage improvements across core contracts
  test/system/SMARTSystemFactory.t.sol
  test/system/SMARTSystemProxy.t.sol
  test/system/access-manager/SMARTTokenAccessManagerImplementation.t.sol
  test/system/identity-factory/identities/SMARTIdentityImplementation.t.sol
  test/system/identity-factory/identities/SMARTTokenIdentityImplementation.t.sol
  test/system/identity-factory/identities/extensions/OnChainIdentityWithRevocation.t.sol
  test/system/trusted-issuers-registry/SMARTTrustedIssuersRegistryImplementation.t.sol
Labels: feat

#76 feat: Improve test coverage for core infrastructure contracts
  test/system/compliance/modules/AbstractComplianceModule.t.sol
  test/system/identity-factory/SMARTIdentityFactoryImplementation.t.sol
  test/system/identity-registry-storage/SMARTIdentityRegistryStorageImplementation.t.sol
  test/system/identity-registry/SMARTIdentityRegistryImplementation.t.sol
  test/system/token-factory/AbstractSMARTTokenFactoryImplementation.t.sol
Labels: feat

#81 feat: enhance CREATE2 security to prevent address collisions
  .github/workflows/solidity.yml
  contracts/assets/bond/SMARTBondFactoryImplementation.sol
  contracts/assets/deposit/SMARTDepositFactoryImplementation.sol
  contracts/assets/equity/SMARTEquityFactoryImplementation.sol
  contracts/assets/fund/SMARTFundFactoryImplementation.sol
  contracts/assets/stable-coin/SMARTStableCoinFactoryImplementation.sol
  contracts/extensions/yield/schedules/fixed/SMARTFixedYieldScheduleFactory.sol
  contracts/system/identity-factory/SMARTIdentityFactoryImplementation.sol
  contracts/system/token-factory/AbstractSMARTTokenFactoryImplementation.sol
Labels: feat

#92 feat: add subgraph support for token tracking and pausable functionality
  .gitignore
  contracts/extensions/pausable/ISMARTPausable.sol
  contracts/extensions/pausable/SMARTPausableEvents.sol
  contracts/extensions/pausable/internal/_SMARTPausableLogic.sol
  package.json
  scripts/interfaceid.sh
  subgraph/schema.graphql
  subgraph/src/bignumber/bignumber.ts
  subgraph/src/pausable/fetch/pausable.ts
  subgraph/src/pausable/pausable.ts
  subgraph/src/system/system.ts
  subgraph/src/token-factory/fetch/token-factory.ts
  subgraph/src/token-factory/token-factory.ts
  subgraph/src/token/fetch/token.ts
  subgraph/src/token/token.ts
  subgraph/subgraph.yaml
  subgraph/tsconfig.json
Labels: feat

#93 feat: consolidate events into interface files
  contracts/extensions/access-managed/ISMARTTokenAccessManaged.sol
  contracts/extensions/access-managed/SMARTTokenAccessManagedEvents.sol
  contracts/extensions/access-managed/internal/_SMARTTokenAccessManagedLogic.sol
  contracts/extensions/burnable/ISMARTBurnable.sol
  contracts/extensions/burnable/SMARTBurnableEvents.sol
  contracts/extensions/burnable/internal/_SMARTBurnableLogic.sol
  contracts/extensions/core/SMARTEvents.sol
  contracts/extensions/core/internal/_SMARTLogic.sol
  contracts/extensions/custodian/ISMARTCustodian.sol
  contracts/extensions/custodian/SMARTCustodianEvents.sol
  contracts/extensions/custodian/internal/_SMARTCustodianLogic.sol
  contracts/extensions/historical-balances/ISMARTHistoricalBalances.sol
  contracts/extensions/historical-balances/SMARTHistoricalBalancesEvents.sol
  contracts/extensions/historical-balances/internal/_SMARTHistoricalBalancesLogic.sol
  contracts/extensions/redeemable/ISMARTRedeemable.sol
  contracts/extensions/redeemable/SMARTRedeemableEvents.sol
  contracts/extensions/redeemable/internal/_SMARTRedeemableLogic.sol
  contracts/extensions/yield/ISMARTYield.sol
  contracts/extensions/yield/SMARTYieldEvents.sol
  contracts/extensions/yield/internal/_SMARTYieldLogic.sol
  contracts/interface/ISMART.sol
  test/assets/SMARTFund.t.sol
  test/tests/SMARTCoreTest.sol
Labels: feat

#94 feat: add subgraph support for burnable token extension
  .github/renovate.json
  .gitignore
  subgraph/src/burnable/burnable.ts
  subgraph/src/token/fetch/token.ts
  subgraph/subgraph.yaml
Labels: feat

#99 fix: ignition claim verifications
  scripts/hardhat/actions/issue-verification-claims.ts
Labels: fix

#102 chore: remove unused roles from subgraph
  subgraph/schema.graphql
  subgraph/src/access-control/utils/role.ts
Labels: chore

#101 feat: add token access control indexing
  .github/workflows/claude.yml
  subgraph/schema.graphql
  subgraph/src/token-factory/token-factory.ts
Labels: feat

#100 feat: topic scheme registry
  contracts/interface/ISMARTIdentityRegistry.sol
  contracts/system/ISMARTSystem.sol
  contracts/system/ISMARTSystemFactory.sol
  contracts/system/SMARTSystem.sol
  contracts/system/SMARTSystemErrors.sol
  contracts/system/SMARTSystemFactory.sol
  contracts/system/identity-registry/SMARTIdentityRegistryImplementation.sol
  contracts/system/identity-registry/SMARTIdentityRegistryProxy.sol
  contracts/system/topic-scheme-registry/ISMARTTopicSchemeRegistry.sol
  contracts/system/topic-scheme-registry/SMARTTopicSchemeRegistryImplementation.sol
  contracts/system/topic-scheme-registry/SMARTTopicSchemeRegistryProxy.sol
  ignition/modules/onboarding.ts
  ignition/modules/onboarding/system.ts
  ignition/modules/predeployed/system-factory.ts
  ignition/modules/predeployed/topic-scheme-registry.ts
  scripts/hardhat/actions/issue-verification-claims.ts
  scripts/hardhat/actions/register-topic-schemes.ts
  scripts/hardhat/assets/actions/issue-collateral-claim.ts
  scripts/hardhat/assets/actions/issue-isin-claim.ts
  scripts/hardhat/constants/contracts.ts
  scripts/hardhat/constants/topics.ts
  scripts/hardhat/deployer.ts
  scripts/hardhat/main.ts
  scripts/hardhat/utils/claim-scheme-utils.ts
  subgraph/subgraph.yaml
  test/assets/AbstractSMARTAssetTest.sol
  test/system/SMARTSystem.t.sol
  test/system/SMARTSystemFactory.t.sol
  test/system/SMARTSystemProxy.t.sol
  test/system/topic-scheme-registry/SMARTTopicSchemeRegistry.t.sol
  test/tests/AbstractSMARTTest.sol
  test/utils/SystemUtils.sol
Labels: feat

#103 feat: consolidate subgraph identity handling
  subgraph/schema.graphql
  subgraph/src/identity-factory/fetch/identity-factory.ts
  subgraph/src/identity-factory/identity-factory.ts
  subgraph/src/identity/fetch/identity-claim.ts
  subgraph/src/identity/fetch/identity.ts
  subgraph/src/identity/identity.ts
  subgraph/src/system/system.ts
  subgraph/src/token-factory/token-factory.ts
  subgraph/src/token-identity/fetch/token-identity-claim.ts
  subgraph/src/token-identity/fetch/token-identity.ts
  subgraph/src/token-identity/token-identity.ts
  subgraph/src/token/fetch/token.ts
  subgraph/subgraph.yaml
Labels: feat

#108 feat: add identity registry subgraph indexing
  contracts/README.md
  subgraph/README.md
  subgraph/schema.graphql
  subgraph/src/identity-registry/fetch/identity-registry-storage.ts
  subgraph/src/identity-registry/fetch/identity-registry.ts
  subgraph/src/identity-registry/identity-registry.ts
  subgraph/src/identity/fetch/identity.ts
  subgraph/src/system/system.ts
  subgraph/subgraph.yaml
Labels: feat

#110 fix: add country to IdentityRegistered + emit CountryUpdated on identity registered
  contracts/interface/ISMARTIdentityRegistry.sol
  contracts/system/identity-registry/SMARTIdentityRegistryImplementation.sol
  subgraph/subgraph.yaml
  test/system/identity-registry/SMARTIdentityRegistryImplementation.t.sol
Labels: fix

#118 feat: asset classification claim
  contracts/assets/deposit/SMARTDepositFactoryImplementation.sol
  contracts/assets/equity/ISMARTEquity.sol
  contracts/assets/equity/ISMARTEquityFactory.sol
  contracts/assets/equity/SMARTEquityFactoryImplementation.sol
  contracts/assets/equity/SMARTEquityImplementation.sol
  contracts/assets/equity/SMARTEquityProxy.sol
  contracts/assets/fund/ISMARTFund.sol
  contracts/assets/fund/ISMARTFundFactory.sol
  contracts/assets/fund/SMARTFundFactoryImplementation.sol
  contracts/assets/fund/SMARTFundImplementation.sol
  contracts/assets/fund/SMARTFundProxy.sol
  contracts/assets/stable-coin/SMARTStableCoinFactoryImplementation.sol
  contracts/system/SMARTTopics.sol
  scripts/hardhat/assets/actions/issue-asset-classification-claim.ts
  scripts/hardhat/assets/bond.ts
  scripts/hardhat/assets/deposit.ts
  scripts/hardhat/assets/equity.ts
  scripts/hardhat/assets/fund.ts
  scripts/hardhat/assets/stablecoin.ts
  scripts/hardhat/constants/topics.ts
  scripts/hardhat/main.ts
  scripts/hardhat/services/topic-manager.ts
  test/assets/SMARTEquity.t.sol
  test/assets/SMARTFund.t.sol
  test/system/topic-scheme-registry/SMARTTopicSchemeRegistry.t.sol
Labels: feat

#123 feat: add comprehensive test suite for SMARTCapped extension
  test/SMARTCappedStandardTest.t.sol
  test/examples/SMARTCappedToken.sol
  test/tests/SMARTCappedTest.sol
Labels: feat

#124 feat: implement SMARTYield extension for yield distribution
  test/SMARTCappedStandardTest.t.sol
  test/SMARTYieldStandardTest.t.sol
  test/examples/SMARTCappedToken.sol
  test/examples/SMARTYieldToken.sol
  test/tests/SMARTCappedTest.sol
  test/tests/SMARTYieldBaseTest.sol
  test/tests/SMARTYieldHelpers.sol
  test/tests/SMARTYieldIntegrationTest.sol
  test/tests/SMARTYieldTest.sol
  test/tests/SMARTYieldUnitTest.sol
Labels: feat

#125 feat: add comprehensive test suite for SMARTComplianceImplementation
  test/system/compliance/SMARTComplianceImplementation.t.sol
Labels: feat

#126 feat: add comprehensive cross-extension test suite
  test/tests/SMARTCrossExtensionTest.sol
Labels: feat

#127 feat: simplify token creation by predicting onchainid address
  contracts/assets/bond/ISMARTBond.sol
  contracts/assets/bond/ISMARTBondFactory.sol
  contracts/assets/bond/SMARTBondFactoryImplementation.sol
  contracts/assets/bond/SMARTBondImplementation.sol
  contracts/assets/bond/SMARTBondProxy.sol
  contracts/assets/deposit/ISMARTDeposit.sol
  contracts/assets/deposit/SMARTDepositFactoryImplementation.sol
  contracts/assets/deposit/SMARTDepositImplementation.sol
  contracts/assets/deposit/SMARTDepositProxy.sol
  contracts/assets/equity/ISMARTEquity.sol
  contracts/assets/equity/SMARTEquityFactoryImplementation.sol
  contracts/assets/equity/SMARTEquityImplementation.sol
  contracts/assets/equity/SMARTEquityProxy.sol
  contracts/assets/fund/ISMARTFund.sol
  contracts/assets/fund/SMARTFundFactoryImplementation.sol
  contracts/assets/fund/SMARTFundImplementation.sol
  contracts/assets/fund/SMARTFundProxy.sol
  contracts/assets/stable-coin/ISMARTStableCoin.sol
  contracts/assets/stable-coin/SMARTStableCoinFactoryImplementation.sol
  contracts/assets/stable-coin/SMARTStableCoinImplementation.sol
  contracts/assets/stable-coin/SMARTStableCoinProxy.sol
  contracts/extensions/core/SMARTUpgradeable.sol
  contracts/system/access-manager/SMARTTokenAccessManagerImplementation.sol
  contracts/system/access-manager/SMARTTokenAccessManagerProxy.sol
  contracts/system/identity-factory/ISMARTIdentityFactory.sol
  contracts/system/identity-factory/SMARTIdentityFactoryImplementation.sol
  contracts/system/token-factory/AbstractSMARTTokenFactoryImplementation.sol
  test/SMARTCrossExtensionTest.t.sol
  test/extensions/AbstractSMARTTest.sol
  test/system/SMARTTokenAccessManager.t.sol
  test/system/access-manager/SMARTTokenAccessManagerImplementation.t.sol
  test/system/identity-factory/SMARTIdentityFactoryImplementation.t.sol
  test/system/identity-factory/identities/SMARTTokenIdentityImplementation.t.sol
  test/utils/SystemUtils.sol
Labels: feat
